<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.alsalil.waseldriver" android:installLocation="internalOnly">
	<uses-sdk android:targetSdkVersion="28" android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.LOCATION_HARDWARE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<permission android:name="com.alsalil.wasel.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.alsalil.wasel.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:label="WaselDriver">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.alsalil.waseldriver" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.alsalil.wasel" />
			</intent-filter>
		</receiver>
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.alsalil.waseldriver.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
			<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		</provider>
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBscFcMrxHVk38H90D-Yq4UJ7g1CMoo9rE" />
	</application>
</manifest>